<h1>Reset Password</h1>

<p>Please enter your email address in the form below. A new password will be sent to your email inbox, with a link to reset your password.</p>

<%= form_tag do %>
  <dl>
    <dt><%= label_tag      :email%></dt>
    <dd><%= text_field_tag :email %></dt>
  </dl>

  <%= submit_tag %>
<% end %>
