<div class="home-intro">
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <p>
      Welcome to <em>Bill Tracker</em>
      <span>The best place to keep up-to-date on bills in the Oklahoma Legislature</span>
      </p>
    </div>
    <div class="col-md-4">
      <div class="get-started">
        <%= link_to "Get Started Now!", signup_path, class: "btn btn-lg btn-primary" %>
        <div class="learn-more">or <%= link_to "learn more.", root_path %></div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>Site <strong>Features</strong></h2>
      <div class="row">
        <div class="col-sm-6">
          <div class="feature-box">
            <div class="feature-box-icon">
              <i class="fa fa-institution"></i>
            </div>
            <div class="feature-box-info">
              <h4 class="heading-primary mb-none">Subscribe to Bills</h4>
              <p class="tall">Follow any bill in the legislature.</p>
            </div>
          </div>
          <div class="feature-box">
            <div class="feature-box-icon">
              <i class="fa fa-envelope"></i>
            </div>
            <div class="feature-box-info">
              <h4 class="heading-primary mb-none">Dashboard</h4>
              <p class="tall">Manage subscriptions and check status of bills.</p>
            </div>
          </div>
          <div class="feature-box">
            <div class="feature-box-icon">
              <i class="fa fa-dashboard"></i>
            </div>
            <div class="feature-box-info">
              <h4 class="heading-primary mb-none">Email Updates</h4>
              <p class="tall">Email you when actions occur on your bill.</p>
            </div>
          </div>
          <div class="feature-box">
            <div class="feature-box-icon">
              <i class="fa fa-hourglass"></i>
            </div>
            <div class="feature-box-info">
              <h4 class="heading-primary mb-none">Near Real-time</h4>
              <p class="tall">Stays current within 15 minutes of the Oklahoma Legislature website.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="feature-box">
            <div class="feature-box-icon">
              <i class="fa fa-dollar"></i>
            </div>
            <div class="feature-box-info">
              <h4 class="heading-primary mb-none">No Charge</h4>
              <p class="tall">All current features are free and will remains so.</p>
            </div>
          </div>
          <div class="feature-box">
            <div class="feature-box-icon">
              <i class="fa fa-binoculars"></i>
            </div>
            <div class="feature-box-info">
              <h4 class="heading-primary mb-none">Confidential</h4>
              <p class="tall">We will not to sell or disclose any personal data.</p>
            </div>
          </div>
          <div class="feature-box">
            <div class="feature-box-icon">
              <i class="fa fa-bars"></i>
            </div>
            <div class="feature-box-info">
              <h4 class="heading-primary mb-none">Feedback</h4>
              <p class="tall">We welcome ideas on ways to improve the site.</p>
            </div>
          </div>
          <div class="feature-box">
            <div class="feature-box-icon">
              <i class="fa fa-mobile"></i>
            </div>
            <div class="feature-box-info">
              <h4 class="heading-primary mb-none">Mobile-friendly</h4>
              <p class="tall">Reponsive design makes the site easy to use on mobile or pc.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h2>Coming soon...</h2>
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                <i class="fa fa-envelope"></i>
                Additional Email Info
              </a>
            </h4>
          </div>
          <div id="collapseOne" class="accordion-body collapse in">
            <div class="panel-body">
              <p>When users provide a home address, the site will track if their Senator or Representative will be voting on a bill next.</p> 
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                <i class="fa fa-comment"></i>
                Pregenerated Legislator Emails
              </a>
            </h4>
          </div>
          <div id="collapseTwo" class="accordion-body collapse">
            <div class="panel-body">
              <p>Pregenerated opposition and support emails to all people who will be voting on a bill next.</p> 
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                <i class="fa fa-laptop"></i>
                Subscribe to a Legislator
              </a>
            </h4>
          </div>
          <div id="collapseThree" class="accordion-body collapse">
            <div class="panel-body">
              <p>Automatically subscribe to all of the bills a legislator is an author or co-author on.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
